body {
    background-color: whitesmoke;

}
.mt-custom {
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.card h1 {
    width: 100%;
    max-width: 500px;
}

.main-home {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    background-image: url("../img//kirill-balobanov-2rIs8OH5ng0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: screen; */
}

nav .bg-custom {

    background-color: rgba(255, 255, 255, 0.507);

}

.card {
    width: 50rem;
    background-color: rgba(0, 0, 0, 0.192);
    border: 0px;
}

div div .custom-link {
    background-color: white;
    border: none;
    color: black;

}

.btn {

    font-weight: bold;
}

.modal-title {
    
    color: white;
    font-weight: bold;

}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card-title-c {

    color: rgb(219, 219, 219);
}

.text-c {
    font-weight: bold;

}


/* ABOUT */

.main-about {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    background-image: url("../img/cat-han-W_5Eakb1598-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: screen; */
}


/* Experiance */

.main-expe {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    background-image: url("../img/cat-han-W_5Eakb1598-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: screen; */
    background-attachment: fixed;

}

.pro1 {
    background-image: linear-gradient(#172229, black);
  }

.pro2 {
background-image: linear-gradient(#1f1f1f, black);
}
.pro3 {
background-image: linear-gradient(#010f1f, black);
}
.pro4 {
background-image: linear-gradient(#1f0b0b, black);
}


.container-project {
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

@media (max-width: 768px) {
    .container-project {
        flex-direction: column;
    }
    h6 {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .xm {
        width: 90%;
    }
   
}



.content-project-header {
    font-weight: bold;
    color: rgb(207, 207, 207);
}

.content-project-sub {
    font-weight: 300;
    color: rgb(170, 170, 170);

}

img {

    width: 250px;
    border-radius: 5px;
}

h6 {

    color: orange;
}

.crop {
    width: auto;
    height: 250px;

}

